<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Chris Mayes">
        <meta property="og:description" content="Individualized test prep for students of all skill levels.">
        <meta property="og:title" content="Triangle Academic Coach">
        <title>Triangle Academic Coach</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
        <header class="home-header--user">
            <div class="home-header__text-box">
                <h1 class="home-header__h1">
                    <span class="home-header__h1__main">You Are A User</span>
                </h1>
                <a href="/api/logout" class="btn btn--white btn--animated">Logout</a>
            </div>
            
        </header>
    </body>
</html>