@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Open+Sans:300,300i,400,600i,700,700i,800,800i');

/* Colors

#EB7728  orange

#9E532C brown

#613016 dark brown

#FDFDFD white

#191514 black

#615A59 gray

#A09395 light grey

 #95924D green
 
 */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    color: #777;
    padding: 2.08rem;
    box-sizing: border-box;
}

.home-header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(214, 108, 37, 0.8),
        rgba(223, 146, 3, 0.8)),
        url(../images/triangle-bridge-bg.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0 100%);
}

.home-header--user {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        #4a69bd,
        #1e3799),
        url(../images/triangle-bridge-bg.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0 100%);
}

.home-header--admin {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        #78e08f,
        #38ada9),
        url(../images/triangle-bridge-bg.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0 100%);
}

.home-header__text-box {
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%); 
   text-align: center;
}

.home-header__h1 {
    color: #FDFDFD;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 2rem;
}

.home-header__h1--main {
    display: block;
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: 1.3rem;
    animation: moveInLeft 0.7s ease-out;
}

.home-header__h1--sub {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .59rem;
    animation: moveInRight 0.7s ease-out;
}

#home-header__right-button {
    margin-left: 1.2rem;
}

#home-header__left-button {
    margin-right: 1.2rem;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-3rem);
    }

    80% {
        transform: translateX(0.3rem);
    }

    100% {
        opacity: 100;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(3rem);
    }

    80% {
        transform: translateX(-0.3rem);
    }

    100% {
        opacity: 100;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 100;
        transform: translate(0);
    }
}

.btn,
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.6rem 3.1rem;
    display: inline-block;
    border-radius: 100px;
    transition: all .2;
    position: relative;
    font-size: 1.6rem;
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-0.3rem);
    box-shadow: 0 .2rem 2rem rgba(0,0,0,.3)
}

.btn:active {
    cursor: pointer;
    transform: translateY(-0.1rem);
    box-shadow: 0 .2rem 1rem rgba(0,0,0,.4)
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn--white {
    background-color: #FDFDFD;
    color: #191514;
    animation: moveInBottom 0.7s ease-in;
}

.btn--white::after {
    background-color:#FDFDFD;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

